html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.logo {
  background-color: black;
  font-size: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-headline {
  justify-content: flex-start;
}

.logo img {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.logo-heading {
  margin: 0.66rem 0;
}

.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.heading {
  position: relative;
  max-width: 20rem;
  background: black;
  padding: 2rem 3rem;
  font-weight: bold;
  top: 9rem;
}

.heading h1 {
  font-size: 2rem;
  margin-top: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
}

.heading h2 {
  font-weight: bold;
}

nav {
  background-color: firebrick;
}

nav li {
  padding: 0.75rem 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: black;
}

.copyright {
  padding: 2rem 0;
}

.cards {
  margin: 3rem 0;
}

.product-card {
  border: 4px solid black;
  flex-basis: 30%;
  text-align: center;
  align-self: flex-end;
}

.product-card img {
  max-height: 9rem;
  max-width: 9rem;
  padding: 2rem 1rem;
}

.product-card div {
  background-color: black;
  padding: 0.5rem 0;
}

.info-title {
  background-color: black;
  padding: 1rem 2rem;
}

.info {
  color: black;
  margin-top: 5px;
}

.info-card {
  flex-basis: 35%;
  margin-bottom: 1rem;
}
